<nav class="navbar">
    <div class="navbar-inner">

        <a class="navbar-brand" href="{{ path('app_welcome') }}">
            <img
                    src="{{ asset(option_get('site.icon')) }}"
                    width="24"
                    height="24"
                    alt="{{ option_get('site.name') }}"
                    loading="lazy">
            {{ option_get('site.name') }}
        </a>

        <button
                class="navbar-toggler"
                type="button"
                data-te-collapse-init
                data-te-target="#navbar"
                aria-controls="navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <twig:Micon name="menu"/>
        </button>
        <div
                class="!visible hidden flex-grow basis-[100%] items-center text-center md:justify-end md:!flex md:basis-auto"
                id="navbar"
                data-te-collapse-item>
            {# import menu and widgets #}
            <twig:Menu :menu="main_menu"/>

        </div>
    </div>
</nav>