<nav
        class="sticky top-0 flex w-full flex-wrap items-center justify-between bg-[#FBFBFB] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 md:py-4 select-none">
    <div class="flex w-full flex-wrap items-center px-3 justify-between">

        <a class="mb-4 ml-2 mr-5 mt-3 text-lg md:text-xl flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 md:mb-0 md:mt-0"
           href="{{ path('app_welcome') }}">
            <img
                    src="{{ asset(site.icon) }}"
                    width="24"
                    height="24"
                    class="w-5 h-5 me-1.5 md:w-6 md:h-6 md:me-2"
                    alt="{{ site.name }}"
                    loading="lazy"/>
            {{ site.name }}
        </a>

        <button
                class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 md:hidden"
                type="button"
                data-te-collapse-init
                data-te-target="#navbar"
                aria-controls="navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <twig:Micon name="menu"/>

        </button>
        <div
                class="!visible hidden flex-grow basis-[100%] items-center text-center md:justify-end md:!flex md:basis-auto"
                id="navbar"
                data-te-collapse-item>
            {# import menu and widgets #}

        </div>
    </div>
</nav>