{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}


    <div class="container mx-auto h-[100vh] flex flex-col justify-center">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login') }}" method="post">
            <div class="mb-3">
                <label
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        for="username">Email:</label>
                <input
                        class="text-gray-900 bg-gray-50 rounded-lg text-sm block w-full p-2.5 border border-gray-300 focus:z-10 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        type="text" id="username" name="_username" value="{{ last_username }}">
            </div>
            <div class="mb-3">
                <label
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        for="password">Password:</label>
                <input
                        class="text-gray-900 bg-gray-50 rounded-lg text-sm block w-full p-2.5 border border-gray-300 focus:z-10 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        type="password" id="password" name="_password">
            </div>

            <div class="mb-3">
                <div class="flex items-center mr-4">
                    <input
                            class="rounded w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                            type="checkbox" name="_remember_me" id="remember-me">
                    <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="remember-me">
                        Keep me logged in
                    </label>
                </div>
            </div>


            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
            <div class="text-right">
                <button
                        class="text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
{% endblock %}
