<!DOCTYPE html>
<html lang="{{ app.request.locale ?: app.request.defaultLocale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block head %}{% endblock head %}
    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock stylesheets %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ vite_entry_script_tags('app') }}
{% endblock javascripts %}
</body>
</html>
